// _new.scss

.left-column {
  font-size: 17px;
  width: 113px;
  font-weight: bold;
}



.fa-star {
  font-size: 18px;
}

.star:hover {
  color: orange
}


.checked {
  color: orange;
}

.star {
  margin-bottom: -8px;
}
