<!-- _show.html.erb -->
<%# @comments.each do |comment| %>
  <%#= comment.user_id  %>
  <%#= comment.title %>
  <%#= comment.comment %>
  <%# end %>
  <h2> [ @comments/show.html.erb - Existing user comments  - TBC ] <%= @comments %> </h2>