.profile {
  margin-top: 15px;
  margin-bottom: 15px;
}

.dashboard-line {
  width: 40%;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
  background-color: $blue;
  border: 0 none;
  margin-left: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}
