.full {
  background-image: url(image-path("search.jpg"));
  background-size: cover !important;
  height: 100%;
  height: calc(100vh - 100px);
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
}

.form-row {
  padding-top: 20px;
  display: block;
  margin-top: 5%;
  width: 600px;
  transition: all .5s cubic-bezier(.4, .25, .8, .3);
  background-color: rgba(32,103,184, 0.2);
  border-radius: 10px;
}

.laduzi {
  padding-top: 2%;
  margin-left: -5%;
  text-align: center;
  color: white;
  font-style: italic;
  font-size: 90px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.btn-lg {
  margin: 0px;
  padding-bottom: 5px;
}
.col {
  margin-bottom: 5%;
}

@media(max-width: 992px) {
  .form-row {
    width: 500px;
  }
}

@media(max-width: 768px) {
  .form-row {
    width: 400px;
  }
  .search {
    top: -30px;
  }
}
