body, html {
  height: 100%;
}

.full {
  background-image: url(search.jpg);
  background-size: cover !important;
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
}

.form-row {
  position: fixed;
  top: 50%;
  width: 90vw;
  transition: all .5s cubic-bezier(.4, .25, .8, .3);
  margin-left: 10%;
}
