// Import page-specific CSS files here.
@import "home";

.filterbutton {
  margin-bottom: 7px;
  color: $blue;
  background: white;
  border: solid 1px $blue;
  margin-right: 0px;
}

.filtertags {
  margin-top: 10px;
  margin-left: 34px;
  margin-bottom: 25px;
}

#gaode {
  width:300px;
  height: 180px;
}


.dropdown {
  margin-top: 9px;
  padding-bottom: 7px;
  border-bottom: 1px solid rgb(243, 244, 244);
}
