// .big {
//   display: flex;
//   justify-content: space-around;
// }
.name {
  margin: 30px;
}

.hospital {
  display: flex;
  justify-content: space-around;
  margin: 30px;
  margin-right: 0;
}

.hospital-img {
  border-radius: 10px;
  margin: 0 30px;
  object-fit: cover;
}

.tags {
    margin-left: 24px;
    width: 465px;
    margin-top: 15px;
}

.tag {
  border: #81a7d5 solid 1px;
  border-radius: 15px;
  padding: 5px;
  background-color: white;
  text-decoration: none;
  margin: 5px;
  font-size: small;
  text-decoration: none;
  color: #81a7d5;
}


.tag:hover {
  opacity: 0.5;
  text-decoration: none;
}

.description {
  width: 30%;
}

.overflow {
  overflow:scroll;
  height:400px;
  width: 528px;
  background: #f9f8f7;
  padding: 30px;
  border-radius: 10px;
}


.time {
  font-weight: 400;
}

#newcomments {
  font-size: 22px;
}

.comment {
  font-size: 22px;
}


.review-button {
  margin: 0;
}

