.gray {
  color: $gray;
}

.red{
  color: #e50000;
}

.name {
  margin: 30px;
}

.hospital {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hospital-img {
  border-radius: 10px;
  margin: 0 30px;
  object-fit: cover;
}

.time {
  font-weight: 400;
}

.time-price {
  justify-content: center;
}

.description {
  margin-bottom: 30px;
}

.tags {
    margin-left: 24px;
    width: 465px;
    margin-top: 15px;
}

.tag {
  border: #81a7d5 solid 1px;
  border-radius: 15px;
  padding: 5px;
  background-color: white;
  text-decoration: none;
  margin: 5px;
  font-size: small;
  text-decoration: none;
  color: #81a7d5;
}

.tag:hover {
  opacity: 0.5;
  text-decoration: none;
}

.overflow {
  overflow:scroll;
  height:400px;
  width: 528px;
  background: #f9f8f7;
  padding: 30px;
  border-radius: 10px;
}

.time {
  font-weight: 400;
}

#newcomments {
  font-size: 22px;
}

.comment {
  font-size: 22px;
}

.review-button {
  margin: 0;
}

.star {
  color: orange;
}


@media(max-width: 992px) {
  .hospital {
    grid-template-columns: 1fr 1fr;
  }
  #map {
    width: 100%;
  }
}

@media(max-width: 768px) {
  .hospital {
    grid-template-columns: 1fr;
  }
  #map {
    width: 100%;
  }
}

@media(max-width: 576px) {
  .hospital {
    padding-left: 0;
  }
  #map {
    width: 100%;
  }
}

