show-container {
  margin: 0;
}

.gray {
  color: $gray;
}

.red{
  color: #e50000;
}

.name {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 24px;
  margin-left: 13px;
  color: #232830;
}

// .hospital {
//   display: grid;
//   grid-template-columns: 1fr 1fr;
//   grid-gap: 30px;
//   flex-grow: 1;
// }

#map {
  border-radius: 5px;
  margin-left: 10px;
}

.image-on-image {
  position: relative;
}

.taxi {
  z-index: 1;
  position: absolute;
  top: 5%;
}

.hospital-img {
  width: 100%;
  height: 400px;
  margin: 0;
  margin-bottom: 10px;
  object-fit: cover !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.show-card-description {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 5px;
  flex-grow: 1;
  color: #232830;
  font-weight: 100;
}

.static {
  color: #232830;
  margin-left: 10px;
  font-weight: 800 !important;
}

.rating-description {
  margin-left: 5px;
  color: #232830;
  font-weight: 100;
}

.time {
  color: #232830;
  font-weight: 100;
}

.description {
  border: 0.7px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  height: 100vh;
  width: 200%;
  margin-right: 20x;
  border-radius: 5px;
}

.show-card-description strong{
  float: left;
}

.tags {
  display: flex;
  justify-content: flex-start;
  margin-top: 15px;
  margin-right: 20px;
  flex-wrap: wrap;
  margin-bottom: 10px;
  margin-left: 6px;
}

.tag {
  margin-left: 5px;
  border: #e94058 solid 1px;
  border-radius: 15px;
  padding: 5px;
  background-color: white;
  text-decoration: none;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: small;
  text-decoration: none;

}

.tag:hover {
  opacity: 0.5;
  text-decoration: none;
  color: #81a7d5;
}

.rating-description {
  margin-top: 0;
}

.overflow {
  overflow:scroll;
  height:400px;
  width: 100%;
  background: #f9f8f7;
  padding: 30px;
  border-radius: 10px;
  margin: 0 15px 0 15px;
}

.time {
  font-weight: 400;
}

.rating-comment {
   margin-left: 5px;
   margin-right: 5px;
}

#newcomments {
  font-size: 22px;
  padding: 5px;
}

.comment {
  font-size: 22px;
}

.review-button {
  margin: 0;
}

.review {
  // border: 0.7px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.star {
  color: orange;
}


@media(max-width: 992px) {
  .hospital {
    grid-template-columns: 1fr 1fr;
  }
  .description {
    width: 500px;
  }
  .hospital-img {
    width: 500px;
  }
  .review {
    width: 500px;
  }
  // .overflow {
  //   width: 500px;
  // }
  // #map {
  //   width: 100%;
  // }
}

@media(max-width: 768px) {
  .hospital {
    grid-template-columns: 1fr;
  }
  .description {
    width: 400px;
  }
  .hospital-img {
    width: 400px;
  }
  .review {
    width: 400px;
  }
  // .overflow {
  //   width: 400px;
  // }
  // #map {
  //   width: 100%;
  // }
}

@media(max-width: 576px) {
  .hospital {
    padding-left: 0;
  }
  // #map {
  //   width: 100%;
  // }
}

