<div class="full">
  <div id="moving-container">
    <img src="https://images.pexels.com/photos/574282/pexels-photo-574282.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" height="42" width="42">
    <img src="https://images.pexels.com/photos/547114/pexels-photo-547114.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" height="42" width="42">
    <img src="https://images.pexels.com/photos/1166209/pexels-photo-1166209.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" height="42" width="42">
    <img src="https://images.pexels.com/photos/1084188/pexels-photo-1084188.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" height="42" width="42">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-auto">
        <h2 class="home-tagline">Find a hospital in a matter of seconds
          <div id="time"></div>
        </h2>
      </div>
      <form action='<%= hospitals_index_path %>' method='GET'>
        <!--    <div class="form-row"> -->
        <div class="col-auto">
          <p class="home-form">City</p>
          <input type="text" class="form-control" name="city">
        </div>
        <!--       <div class="col">
            <input type="text" class="form-control" placeholder="Specialty">
          </div> -->
        <div class="col-auto">
          <p class="home-form">Health Insurer</p>
          <input type="text" class="form-control" name="tag[]">
        </div>
        <!-- <div class="col-auto">
            <div class="form-check mb-2">
              <input class="form-check-input" type="checkbox" id="autoSizingCheck">
              <label class="form-check-label" for="autoSizingCheck">
                English?
              </label>
            </div>
          </div> -->
        <div class="col-auto">
          <button type="submit" class="btn btn-primary btn-lg btn-block">Search Hospital</button>
        </div>
        <!--    </div> -->
      </form>
    </div>
  </div>
</div>