<div class="full">
  <div class="container">
    <div class='laduzi'> Laduzi</div>
    <div class="row">
      <form action='<%= hospitals_index_path %>' method='GET'>
        <div class="form-row">
          <div class="col">
            <input type="text" class="form-control" placeholder="Location" name="city">
          </div>
          <!--       <div class="col">
            <input type="text" class="form-control" placeholder="Specialty">
          </div> -->
          <div class="col">
            <input type="text" class="form-control" placeholder="Health Insurer" name="tag[]">
          </div>
          <!-- <div class="col-auto">
            <div class="form-check mb-2">
              <input class="form-check-input" type="checkbox" id="autoSizingCheck">
              <label class="form-check-label" for="autoSizingCheck">
                English?
              </label>
            </div>
          </div> -->
          <div class="col-auto">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>