<div class="full">
  <form>
    <div class="form-row">
      <div class="col-7">
        <input type="text" class="form-control" placeholder="Location">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Specialty">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Health Insurer">
      </div>
      <div class="col-auto">
        <div class="form-check mb-2">
          <input class="form-check-input" type="checkbox" id="autoSizingCheck">
          <label class="form-check-label" for="autoSizingCheck">
            English?
          </label>
        </div>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
</div>
