.banner {
  height: 500px;
  background: url("banner.jpg") no-repeat center center fixed;
  background-size: auto;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  text-align: center;
  color: white;
  font-style: italic;
  font-size: 90px;
  font-weight: bold;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.tagline {
  font-size: 35px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-style: italic;
  font-weight: 550;
}


// #laduzi {
//   font-weight: bolder;
//   font-size: 60px;
//   color: #2067B8;
//   margin-left: 30px;

// }

// #p-laduzi {
//   font-weight: bolder;
//   color: #2067B8;
//   margin-left: 30px;
// }
