.modal-content {
  align-items: center;
  border-radius: 10px;
}

.modal-header .close {
  padding: 1rem 1rem;
  margin: -1rem -1rem -1rem auto;
  position: absolute;
  right: 12px;
  top: 7px;
}

.modal-body {
  background-color: #215696;
  color: white;
  border-radius: 10px;
  padding: 37px;
  margin: -12px 10px 10px 10px;
}

hr {
  color: white;
}

#ModalTitle {
  color: #215696;
}

#markup {
  color: white;
}


input {
  border-radius: 10%;
  border-radius: 10%;
  background: none;
  border: white 0.4px solid;
  top: 32px;
  right: 181px;
  color: white;
  font-size: 10px;
}


#markup {
  margin-bottom: 0;
}

.modal-dialog {
  margin: 0 auto;
  margin-left: 532px;
}

