.logo {
  border-radius: 50%;
  width: 40px;
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  // flex-grow: 0;
  margin-left: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#welcome {
 margin-top: 9px;
}

.form-control-search {
  padding-left: 32px;
  width: 356px;
  height: 43px;
  margin-right: 100%;
}

.fa-search {
  position: absolute;
  font-size: 18px;
  margin-left: 8px;
  margin-top: 15px;
}

.search {
  margin-right: 30%;
}
